<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListaFtecnicos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ListaFuncionariosApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ListaFuncionariosApp2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PUCPR.listafuncionariosappV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ProductFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>listaappSECIDCURITIBA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>listafuncionariosappV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>listafuncionariosappV22.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>listafuncionariosappV3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF56C4152EF27174000DFF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF56C4282EF27175000DFF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF56C4322EF27175000DFF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5FFAD42E3D4C78006FA1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5FFAE82E3D4C79006FA1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5FFAF22E3D4C79006FA1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
